.THIS  a {
    color:#9F9F9F;
    font-family: 'Van Condensed', sans-serif;
    font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.THIS  a:hover {
    color:#777;
    text-decoration: none;
}