.THIS #sfdc_login_title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.THIS #sfdc_login_intro {
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
  font-size: 16px;
}

.THIS .error {
  color: #c10318;
  border: 1px solid #c10318;
  border-radius: 3px;
  font-family: "Van Condensed", sans-serif;
  display: block;
  text-align: left;
  font-size: 16px;
  width: 100%;
  line-height: 20px;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.THIS .login-icon {
  color: #ccc;
  font-size: 22px;
}

.THIS button.sfdc_button {
  width: 100%;
  height: 42px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  color: #d2bba0 !important;
  background: #000;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  white-space: nowrap;
  font-size: 18px;
  box-shadow: none;
  font-family: "Van Condensed", sans-serif;
  font-weight: 300;
  line-height: 42px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.2s ease-out;
}

.THIS button:hover {
  background: #d2bba0;
  color: #000 !important;
  cursor: pointer;
}

.THIS .uiButton--default .label {
  color: #d2bba0;
  text-shadow: none;
}

.THIS .uiButton--default .label:hover {
  color: #000 !important;
  text-shadow: none;
}

.THIS label {
  font-size: 16px;
  font-weight: 700;
}

.THIS #sfdc_username_container {
  margin-top: 15px;
}

.THIS input {
  margin: 4px 0 15px 0;
  padding: 0 10px;
  border: 1px solid #9f9f9f;
  width: 100%;
  height: 42px;
  font-size: 14px;
  background-color: #d2bba0;
  color: #000;
}

.THIS input::placeholder {
  color: #000;
  font-weight: 300;
  font-size: 14px;
}

.THIS a {
  color: #9f9f9f;
  font-family: "Van Condensed", sans-serif;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.THIS a:hover {
  color: #777;
  text-decoration: none;
}

.THIS #sfdc_forgot span:last-child a {
  color: #c10318;
}

.THIS #sfdc_forgot span:last-child a:hover {
  color: #a80013;
}

.THIS #sfdc_forgot span:last-child a:after {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  margin: 0 0 -2px 4px;
}

.THIS label.uiLabel-hidden {
  display: none;
}
